<p>
  <strong>Description: </strong>
  <%= description %>
</p>

<p>
  <strong>Lifespan: </strong>
  <%= "#{lifespan} years" %>
</p>

<p>
  <strong>Male Weight: </strong>
  <%= "#{male_weight} lbs" %>
</p>

<p>
  <strong>Female Weight: </strong>
  <%= "#{female_weight} lbs" %>
</p>

<p>
  <strong>Hypoallergenic: </strong>
  <%= hypoallergenic %>
</p>