<div id="<%= dom_id pet %>">
  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= pet.kind %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= pet.breed %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= "#{pet.try(:user).try(:name)} #{pet.try(:user).try(:last_name)}" %>
  </p>

</div>
